<%- include("partials/header"); -%>
    <h1>Compose</h1>
        <form class="" action="/author" method="post">
        <div class="form-group">
            <label>id author</label>
            <input class="form-control" type="text" name="id">
            <label>name author</label>
            <input class="form-control" type="text" name="name" >
        </div>
        <button class="btn btn-primary" type="submit" name="button">submit</button>
    </form>
<%- include("partials/footer"); -%>