<%- include("partials/header"); -%>
    <h1>Compose</h1>
        <form class="" action="/content" method="post">
        <div class="form-group">
            <label>id course</label>
            <input class="form-control" type="text" name="id">
            <label>name content</label>
            <input class="form-control" type="text" name="name" >
            <label>video_link</label>
            <input class="form-control" type="text" name="video_link" >
            <label>type</label>
            <input class="form-control" type="text" name="type" >
            <label>id_course</label>
            <input class="form-control" type="text" name="id_course" >
        </div>
        <button class="btn btn-primary" type="submit" name="button">submit</button>
    </form>
<%- include("partials/footer"); -%>